<!DOCTYPE html>
<html>
  <head>
    <title>HogwartsSchool</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Welcome to Hogwarts</h1>
      <nav>
        <ul>
          <li><%= link_to 'Houses', root_path %></li>
          <li><%= link_to 'Students', students_path %></li>
          <li><%= link_to 'Teachers', teachers_path %></li>
          <li><%= link_to 'About Us', static_path(permalink: 'about-us') %></li>
        </ul>
      </nav>
    </header>

    <%= yield %>

    <footer>Copywrong 2019</footer>
  </body>
</html>
